.bgclass {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 0;
    right: 0;
    bottom: 0;
}
  
  .gradient {
    background-image: linear-gradient(#F4A5AE, #A8577E,#A8577E,#A8577E, #043565);
    width: 100%;
    height: 100%;
    min-height: 600px;
    object-fit: fill;
    position: relative;
    z-index: -2;
  }

  #navbar{
    z-index: 2;
    padding-left: 3.5em;
    padding-right: 3.5em;
  }

  #navbar .nav-link{
    color: #043565;
    display: inline-block;
    position: relative;
  }

  #navbar .nav-link:hover{
    color: #F5D7E3;
  }

  #navbarText{
    margin-bottom: 2%;
  }

  #navbarText .nav-link::after {
    content: '';
    position: absolute;
    width: 101%;
    transform: scaleX(0);
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: #A8577E;
    border-radius: 5%;
    border: 4px;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    border-radius: 25px;

  }
  
  #navbarText .nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .navbar-nav > li{
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  #logo{
    width: 11em;
  }

  footer{
    list-style-type: none;
    position: relative;
    height: 25em;
    z-index:1;
    padding: 2em;
    font-weight: bold;
    font-style: italic;
    color:  #F5D7E3;
  }

  #socialFoot{
    background-color: #F5D7E3;
    height: 15em;
    padding: 5%;
    margin-top: 3%;
  }

  #contactForm{
    z-index: 1;
    position: relative;
  }

  #submitBtn{
    /* background-color: #F5D7E3; */
    color: #F5D7E3;
    font-weight: 500;
    font-size: 1.25em;
    border: 2px solid #F5D7E3; 
    height: 4em;
    padding: 2.4%; 
    width: 28.5em;
    transition: ease-in-out .35s;
  }

  #submitBtn::after{
    position: absolute;
    content: "";
    top: 78%;
    left: 51.85%;
    width: 0;
    height: 14%;
    background-color: #F5D7E3;
    z-index: -1;
    border-radius: 5px;
    transition: ease-in-out .35s;
  }

  #submitBtn:hover{
    color: #A8577E;;
  }

  #submitBtn:hover::after{
    width: 43.15%;
  }

  .form-control::placeholder {
    color: #A8577E;
    opacity: 1; /* Firefox */
    font-weight: 500;
    font-size: 1.25em;
  }
  
  .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #A8577E;
   font-weight: 500;
   font-size: 1.25em;
  }
  
  .form-control::-ms-input-placeholder { /* Microsoft Edge */
   color: #A8577E;
   font-weight: 500;
   font-size: 1.25em;
  }

#insta, #linkedin{
  color: #043565;
}

#insta:hover, #linkedin:hover{
  color: #A8577E;
}
