@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;500&family=Source+Code+Pro:wght@400;500;600&display=swap');


.bgclass {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 0;
    right: 0;
    bottom: 0;
}

body{
  overflow-x: hidden;
}
  
  .gradient {
    background-image: linear-gradient(#F4A5AE, #A8577E,#A8577E,#A8577E, #043565);
    width: 100%;
    height: 100%;
    min-height: 600px;
    object-fit: fill;
    position: relative;
    z-index: -2;
  }

  #navbar{
    z-index: 2;
    padding-left: 3.5em;
    padding-right: 3.5em;
  }

  #navbar .nav-link{
    color: #043565;
    display: inline-block;
    position: relative;
  }

  #navbar .nav-link:hover{
    color: #F5D7E3;
  }

  #navbarText{
    margin-bottom: 2%;
  }

  #navbarText .nav-link::after {
    content: '';
    position: absolute;
    width: 101%;
    transform: scaleX(0);
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: #A8577E;
    border-radius: 5%;
    border: 4px;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    border-radius: 25px;
  }
  
  #navbarText .nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .navbar-nav > li{
    padding-left: 0.5em;
    padding-right: 0.5em;
  }


  #logo{
    width: 11em;
  }

  #submitBtn{
    /* background-color: #F5D7E3; */
    color: #F5D7E3;
    font-weight: 500;
    font-size: 1.25em;
    border: 2px solid #F5D7E3; 
    height: 3em;
    width: 20em;
    transition: ease-in-out .35s;
  }

  #submitBtn::before{
    position: absolute;
    content: "";
    top: 11.5em;
    left: 28em;
    width: 20em;
    height: 0;
    background-color: #F5D7E3;
    z-index: -1;
    border-radius: 5px;
    transition: ease-in-out .35s;
  }

  #submitBtn:hover{
    color: #A8577E;
  }

  #submitBtn:hover::before{
    height: 3em;
  }

  footer{
    list-style-type: none;
    position: absolute;
    width: 100%;
    height: 28em;
    z-index:1;
    right: 1em;
    bottom: -160em;
    padding: 2em;
    font-weight: bold;
    font-style: italic;
    color:  #F5D7E3;
  }

  #footerNav .nav-link{
    text-align: end; 
    color:  #F5D7E3;
  }

  #footerNav .nav-link:hover{
    color: #043565;
  }

  #socialFoot{
    background-color: #F5D7E3;
    height: 15em;
    padding: 5%;
    margin-top: 6%;
  }

  video{
    position: absolute;
    z-index: 1;
    width: 70%;
    height: 100%;
    margin-left: 15%;
    margin-top: -5%;
  }

  #videoItems{
    z-index: 2;
    position: absolute;
    margin-left: 1%;
    margin-top: 10%;
    text-align: center;
  }

  .multiText{
    font-weight: 500;
    color:#F4A5AE;
  }

  #latestProjects{
    z-index: 3;
    margin-top: 55em;
  }

 .croppedPics img{
  width: 35em;
  height: 30em;
  z-index: 2;
  position: absolute;
  object-fit: fill;
 }
 
 #insta, #linkedin{
  color: #043565;
}

#insta:hover, #linkedin:hover{
  color: #A8577E;
}

#work-list{
  gap: 20px;
}

.work{
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.work img{
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.4s;
  height: 25em;
  object-fit: cover;
}

.layer{
  height: 0;
  width: 100%;
  background: linear-gradient(rgba(0,0,0,0.6), #A8577E);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  text-decoration: none;
  color: #F5D7E3;
  transition: height 0.5s, width 0.3s, left 0.3s;
  transition-timing-function: ease-in-out 0.3s;
}

.layer h4{
  font-weight: 500;
  margin-bottom: 20px;
}

.work:hover img{
  transform: scale(1.1);
}

.work:hover .layer{
  height: 100%;
  width: 100%;
  left: 0;
}






